<h1>Crea una nueva estrategia</h1>

<%= form_for(@strategy) do |f| %>
<!-- se especifica la url:strategy_path para que
  mande los parámetros al controlador strategy
  pero que no tome la acción new sino que asocie
  el envio con un post para que se de el create
 -->
  <% if @strategy.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@strategy.errors.count, "error") %> prohibited
      this strategy from being saved:</h2>
      <!-- el pluralize permite pluralizar el mensaje según el número de herrores que vienen en el array -->

    <ul>
     <!-- esto se podría hacer si sólo quiero mostrar un error a la vez, y los mando con un alert# <#% @strategy.errors.full_messages[0] %> -->

    <% @strategy.errors.full_messages.each do |msg| %>

      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :intro %><br>
    <%= f.text_area :intro %>
  </p>


  <p>
   <!-- FALTA INTRODUCIR LOS CHECKBOXES PARA SELECCIÓN DE AUTORES<%#= f.collection_select :author_id, Author.all, :id, :name%> -->
  </p>
  <!-- con field_for se supone que se puede mostrar la colección de autores para la selección -->
  <!-- :author_id es el campo en el que voy a guardar la información. Author.all es la colección que me voy a traer del modelo :id y :name sin los datos que voy a mostrar, el nombre de cada uno.  -->

  <p>
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </p>

  <%= f.collection_check_boxes(:author_ids, Author.all, :id, :name) %>

  <p>
    <%= f.submit 'crear estrategia'%>
  </p>
<% end %>